 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Palvelut</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>Oletko myöhässä urakoitsijan hankinnassa? Älä huolehdi,
                  meiltä saat palvelua myös lyhyellä varoitusajalla!</p>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-3">
                  <p>Palvelut:</p>
                      <ul>
                        <li><p>Uudisrakennus</p></li>
                        <li><p>Osakokonaisuuksia suuremmista urakoista</p></li>
                        <li><p>Muutos- ja saneeraustyöt</p></li>
                        <li><p>Kodinkoneasennukset</p></li>
                        <li><p>Sähkötarvikemyynti</p></li>
                        <li><p>Päivystys</p></li>
                        <li><p>Tarvittaessa myös putkityöt</p></li>
                      </ul>
                </div>
                <div class="col-lg-4">
                  <p>Palvelemme:</p>
                    <ul>
                      <li><p>Kuluttajia</p></li>
                      <li><p>Taloyhtiöitä</p></li>
                      <li><p>Yhdistyksiä</p></li>
                      <li><p>Yrityksiä</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
