 <!-- About Section -->
    <section id="yhteystiedot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Yhteystiedot</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>Y-tunnus: 2519704-9<br/></p>

                <p>Postitusosoite:<br/>
                Lehdespolku 5 E 32<br/>
                01360 VANTAA<br/><br/></p>

                <p>Toni Ahola<br/>
                0400196518<br/>
                <a href="mailto:toni.ahola@kehasahko.fi" target="_top">toni.ahola@kehasahko.fi</a><br/><br/></p>

                <p>Laskutukseen liittyvät asiat:<br/>
                <a href="mailto:laskutus@kehasahko.fi" target="_top">laskutus@kehasahko.fi</a><br/><br/></p>
              </div>
            </div>
            </div>
        </div>
    </section>
