 <!-- About Section -->
    <section id="yritys">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Yritys</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 text-center">
                <p>Kehäsähkö on pääkaupunkiseudulla toimiva sähköalan yritys
                  jonka valttina on joustava, edullinen ja nopea palvelu
                  sähkötöille, myös iltaisin ja viikonloppuisin. Kaikki
                  työmme ovat kotitalousvähennyskelpoisia.</p>

                  <p>Laajan yhteistyöverkon vuoksi meillä on mahdollisuus
                    myös avaimet käteen kylpyhuone-, keittiö- ja
                    huoneistoremontteihin jotka toteutetaan yhdessä
                    pitkäaikaisten yhteistyökumppaneiden kanssa.</p>

                  <p>Kysy tarjous!</p>
              </div>
            </div>
          </div>
        </div>
    </section>
